/* -----------------------------------------------------------------------------*/
/* File: synthwave.css                                                          */
/* Description: Synthwave/Outrun color scheme                                   */
/* Author: jacobshu <jacob@builtdigital.io>                                     */
/* Source: https://github.com/jacobshu/synthwave                                */
/* -----------------------------------------------------------------------------*/

:root {
    --vim-neutral-900: #191b26;
    /*--vim-neutral-: #282a36;*/
    /*--vim-neutral-: #383a46;*/
    /*--vim-neutral-: #484a57;*/
    /*--vim-neutral-: #595b68;*/
    /*--vim-neutral-: #6b6d7a;*/
    /*--vim-neutral-: #7d7f8c;*/
    /*--vim-neutral-: #90929f;*/
    /*--vim-neutral-: #95959b;*/
    /*--vim-neutral-: #a8a8ae;*/
    /*--vim-neutral-: #bcbcc2;*/
    /*--vim-neutral-: #d0d0d6;*/
    /*--vim-neutral-: #f9f9ff;*/
    /*--vim-neutral-: #e4e4ea;*/
    /*--vim-neutral-: #ffffff;*/

    --bright_red: #ff8a7f;
    --neutral_red: #ff5c57;
    --faded_red: #cb2a31;
    --bright_green: #8effba;
    --neutral_green: #5af78e;
    --faded_green: #0cc864;
    --bright_yellow: #ffffca;
    --neutral_yellow: #f3f99d;
    --faded_yellow: #c4cb72;
    --bright_blue: #8cf5ff;
    --neutral_blue: #57c7ff;
    --faded_blue: #009bd1;
    --bright_orange: #ffd892;
    --neutral_orange: #fdab68;
    --faded_orange: #cc803f;
    --bright_purple: #ff98ef;
    --neutral_purple: #ff6ac1;
    --faded_purple: #ce3a95;
    --bright_aqua: #c9ffff;
    --neutral_aqua: #9aedfe;
    --faded_aqua: #6cbfd0;

    --sw-blue: #458588;
    --sw-magenta: #b16286;
    --sw-red: #cc241d;
    --sw-166: #d65d0e;

    --nord-deep-dark: #242931;
    /*  polar night */
    --nord0: #2E3440;
    --nord1: #3B4252;
    --nord2: #434C5E;
    --nord3: #4C566A;
    /* snow storm */
    --nord4: #D8DEE9;
    --nord5: #E5E9F0;
    --nord6: #ECEFF4;
    /* frost */
    --nord7: #8FBCBB;
    --nord8: #88C0D0;
    --nord9: #81A1C1;
    --nord10: #5E81AC;
    /* aurora */
    --nord11: #BF616A;
    --nord12: #D08770;
    --nord13: #EBCB8B;
    --nord14: #A3BE8C;
    --nord15: #B48EAD;

    --blue-200: #C8FEFE;
    --blue-300: #98E9EF;
    --blue-400: #6DD0DF;
    --blue-500: #46B6D0;
    --blue-600: #2B9BC1;
    --blue-700: #1480B1;
    --blue-800: #0065A2;
    --green-200: #8EFFBA;
    --green-300: #66EC9D;
    --green-400: #43DA84;
    --green-500: #34C777;
    --green-600: #2DB16B;
    --green-700: #279A5E;
    --green-800: #20834E;
    --magenta-200: #FF98EF;
    --magenta-300: #ED7BDA;
    --magenta-400: #DB60C5;
    --magenta-500: #CA49B0;
    --magenta-600: #B2409A;
    --magenta-700: #9B3684;
    --magenta-800: #842D6E;
    --yellow-200: #FFFFCA;
    --yellow-300: #F8F8B5;
    --yellow-400: #F0F2A0;
    --yellow-500: #E8EB8C;
    --yellow-600: #E3E182;
    --yellow-700: #DBD278;
    --yellow-800: #D3C46F;
    --orange-200: #FFD892;
    --orange-300: #F7C578;
    --orange-400: #EEB360;
    --orange-500: #E59F49;
    --orange-600: #DD9240;
    --orange-700: #D58538;
    --orange-800: #CA7730;
    --cyan-200: #C9FFFF;
    --cyan-300: #B3F0F1;
    --cyan-400: #9FE0E4;
    --cyan-500: #8CD0D6;
    --cyan-600: #7ABFC8;
    --cyan-700: #69AFBB;
    --cyan-800: #5A9FAD;
    --red-200: #FF8A7F;
    --red-300: #F6786F;
    --red-400: #EE675F;
    --red-500: #E55751;
    --red-600: #DC4743;
    --red-700: #D43836;
    --red-800: #CB2A2A;
    --bright-red: #FF8A7F;
    --bright-yellow: #EEF66F;
    --bright-green: #5FEE65;
    --bright-cyan: #51E2E5;
    --bright-blue: #4343DC;
    --bright-magenta: #D036D4;
    --bright-bred: #CB2A2A;

    /*--sw84: #08080f;*/
    /*--sw84: #241b2f;*/
    /*--sw84: #171520;*/
    /*--sw84: #1f212b;*/
    /*--sw84: #232530;*/
    /*--sw84: #262335;*/
    /*--sw84: #2a2139;*/
    /*--sw84: #34294f;*/
    /*--sw84: #37294d;*/
    /*--sw84: #444251;*/
    /*--sw84: #b6b1b1;*/
    /*--sw84: #ffffff;*/
    /*--sw84: #206d4b;*/
    /*--sw84: #09f7a0;*/
    /*--sw84: #0beb99;*/
    /*--sw84: #72f1b8;*/
    /*--sw84: #03edf9;*/
    /*--sw84: #2EE2FA;*/
    /*--sw84: #2ee2fa;*/
    /*--sw84: #36f9f6;*/
    /*--sw84: #495495;*/
    /*--sw84: #463465;*/
    /*--sw84: #463564;*/
    /*--sw84: #614D85;*/
    /*--sw84: #7059AB;*/
    /*--sw84: #848bbd;*/
    /*--sw84: #9d8bca;*/
    /*--sw84: #b893ce;*/
    /*--sw84: #A148AB;*/
    /*--sw84: #ff7edb;*/
    /*--sw84: #880088;*/
    /*--sw84: #fa2e46;*/
    /*--sw84: #fe4450;*/
    /*--sw84: #fede5d;*/
    /*--sw84: #D18616;*/
    /*--sw84: #ff8b39;*/
    /*--sw84: #f97e72;*/
    /*--sw84: #D50;*/

}

